In [6]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\matte\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\matte\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\matte\anaconda3\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\matte\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install python_dotenv

Requirement already satisfied: python_dotenv in c:\users\matte\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo quanto segue:
#Quanti dati ci sono in totale?
#Quali sono i metadati?
#Stampiamo il primo elemento
#Stampiamo l'ultimo elemento
#Riusciamo a stampare cinque elementi a caso?
#Quali sono i colori disponibili?
#In media quanto pesano i prodotti?
#Quanto pesa il più leggero?
#Quanto pesa il più pesante?
#Quanti prodotti pesano più di 100 Kg?
#Quanto costano in media i prodotti (colonna DealerPrice)?
#Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, quale sarà il loro range di prezzo?
#Qual è il prezzo medio per i prodotti di colore blu?
#Qual è il prezzo medio per i prodotti di colore rosso o nero?
#Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
#Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
#Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: c'è un pattern? C'è qualche elemento che non lo segue?

In [88]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

username = str(os.getenv("username"))
password = str(os.getenv("password"))
host = str(os.getenv("host"))
dbname = str(os.getenv("dbname"))

dotenv.load_dotenv(override=True)
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"
df = pd.read_sql(sql=query, con=db_engine)

In [14]:
print("il dataframe è grande:\n", df.shape)
print("le colonne si chiamano\n:", df.columns)
print("le prime righe sono:\n", df.head())

il dataframe è grande:
 (606, 36)
le colonne si chiamano
: Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')
le prime righe sono:
    ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0           1             AR-5381                    NaN
1           2             BA-8327                    NaN
2           3             BE-2349                    NaN
3           4             BE-2908                    NaN
4           5             BL-2036                    NaN

  WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                  None                None        Adjustable Race
1                  None                None           Bearing Ball
2                  None                None        BB Ball Bearing
3                  None                None  Headset Ball Bearings
4                  None                None                  Blade

  SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
0                                                NaN                  0  ...
1                                                NaN                  0  ...
2                                                NaN                  0  ...
3                                                NaN                  0  ...
4                                                NaN                  0  ...

  ChineseDescription  ArabicDescription  HebrewDescription  ThaiDescription  \
0               None               None               None             None
1               None               None               None             None
2               None               None               None             None
3               None               None               None             None
4               None               None               None             None

  GermanDescription JapaneseDescription  TurkishDescription  StartDate  \
0              None                None                None 2003-07-01
1              None                None                None 2003-07-01
2              None                None                None 2003-07-01
3              None                None                None 2003-07-01
4              None                None                None 2003-07-01

  EndDate   Status
0     NaT  Current
1     NaT  Current
2     NaT  Current
3     NaT  Current
4     NaT  Current

[5 rows x 36 columns]

In [146]:
print("i colori sono:\n", df['Color'].unique())

i colori sono:
 ['NA' 'Black' 'Silver' 'Red' 'White' 'Blue' 'Multi' 'Yellow' 'Grey'
 'Silver/Black']

In [158]:
peso = df['Weight']
peso_medio = round(peso.mean(), 2)
print("il peso medio è di", peso_medio)

il peso medio è di 56.19

In [172]:
#Quanto pesa il più leggero?
#Quanto pesa il più pesante?
#Quanti prodotti pesano più di 100 Kg?
peso = df['Weight']
min = peso.min ()
max = peso.max()
prodotti_pesanti = peso[peso > 100].count()
print (min)
print (max)
print (prodotti_pesanti)

2.12
1050.0
28

In [11]:
#Quanto costano in media i prodotti (colonna DealerPrice)?
costo = df['DealerPrice']
costo_medio = round(costo.mean(),2)
print("il costo medio è di", costo_medio)

il costo medio è di 448.6

In [42]:
#Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, quale sarà il loro range di prezzo? BOH hahahahha
#Qual è il prezzo medio per i prodotti di colore blu?
#Qual è il prezzo medio per i prodotti di colore rosso o nero?
#Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg? ????
blu = df[df['Color'] == 'Blue']
rosso_nero = df[df['Color'].isin(['Red', 'Black'])]
filtro_peso_taglia = (df['Size'] == 42) | (df['Weight'] > 10)
prezzo_max_tg_peso = round(df[filtro_peso_taglia]['DealerPrice'].max(), 2)
prezzo_medio_blu = round(blu ['DealerPrice'].mean(),2)
prezzo_medio_rosso_nero = round(rosso_nero ['DealerPrice'].mean(),2)
print (prezzo_medio_blu)
print (prezzo_medio_rosso_nero)
print (prezzo_max_tg_peso)

516.06
550.25
2146.96

In [64]:
#Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
taglia = df['Size'] == 42
peso = df['Weight'] > 10
colore = df['Color'] == 'Silver'
nome = taglia & peso & colore
nome_inglese = df[nome][['EnglishProductName','StandardCost']]
print (nome_inglese)

Empty DataFrame
Columns: [EnglishProductName, StandardCost]
Index: []

In [ ]:
#Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: c'è un pattern? C'è qualche elemento che non lo segue?

In [78]:
import pandas as pd

In [28]:
#Tra i beginner datasets scaricabili all'indirizzo https://www.kaggle.com/datasets/ahmettezcantekin/beginner-datasets selezioniamo amazon.csv, 
#un dataset contenente una serie di recensioni su Amazon.
#Valutiamo la dimensione del dataset
#Visualizziamo dieci righe a caso;
#Osserviamo quali sono i nomi di colonna;
#Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [38]:
file_path = "/Users/matte/Desktop/Data analyst corso/PYTHON/beginner_datasets/amazon.csv"
amazon = pd.read_csv(file_path)

In [40]:
amazon.shape

(20000, 2)

In [42]:
amazon.sample (10)

                                              reviewText  Positive
2073   This app works great!  I use it to entertain m...         1
12398  This is the only alarm I use anymore. It has s...         1
7442   I have a king James Bible,  But this is a lot ...         1
3904   I love how this clock has big numbers so it's ...         1
13744  I love cats and figured I would get this.and I...         1
5914   Important app for you to work with the kindle ...         1
6062   I am using it for a journal of sorts for the y...         1
15867  This is a 5 star rating for sure. I had not fo...         1
4124   This is the cutest app!!! I tried the free app...         1
14379  I have this in Kindle and also on my android p...         1

In [46]:
amazon.columns

Index(['reviewText', 'Positive'], dtype='object')

In [56]:
recensioni = amazon ['Positive'].value_counts()
recensioni

Positive
1    15233
0     4767
Name: count, dtype: int64

In [ ]:
#Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti.
#Osserviamone le dimensioni e un'anteprima di cinque righe;
#Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne;
#Stampiamo dei descrittori statistici del dataset;
#Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50;
#Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
#Qual è la media della pressione per ogni singolo anno di età?

In [7]:
file_path = "/Users/matte/Desktop/Data analyst corso/PYTHON/beginner_datasets/diabetes.csv"
diabete = pd.read_csv(file_path)

In [49]:
diabete.sample(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
153,1,153,82,42,485,40.6,0.687,23,0
645,2,157,74,35,440,39.4,0.134,30,0
238,9,164,84,21,0,30.8,0.831,32,1
306,10,161,68,23,132,25.5,0.326,47,1
366,6,124,72,0,0,27.6,0.368,29,1

In [51]:
diabete.shape

(768, 9)

In [39]:
diabete.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [73]:
diabete.columns

Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')

In [116]:
#Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50;
fascia_minore20 = diabete[diabete['Age (years)'] < 20]
print (fascia_minore20)

Empty DataFrame
Columns: [Number of times pregnant, Plasma glucose concentration a 2 hours in an oral glucose tolerance test, Diastolic blood pressure (mm Hg), Triceps skin fold thickness (mm), 2-Hour serum insulin (mu U/ml), Body mass index (weight in kg/(height in m)^2), Diabetes pedigree function, Age (years), Class variable]
Index: []

In [108]:
#Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50;
fascia_20_30 = diabete[(diabete['Age (years)'] < 20) & (diabete['Age (years)']<=30)]
print (fascia_30_40)

     Number of times pregnant  \
3                           1
6                           3
7                          10
20                          3
23                          9
..                        ...
753                         0
758                         1
760                         2
764                         2
767                         1

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
3                                                   89
6                                                   78
7                                                  115
20                                                 126
23                                                 119
..                                                 ...
753                                                181
758                                                106
760                                                 88
764                                                122
767                                                 93

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
3                                  66                                23
6                                  50                                32
7                                   0                                 0
20                                 88                                41
23                                 80                                35
..                                ...                               ...
753                                88                                44
758                                76                                 0
760                                58                                26
764                                70                                27
767                                70                                31

     2-Hour serum insulin (mu U/ml)  \
3                                94
6                                88
7                                 0
20                              235
23                                0
..                              ...
753                             510
758                               0
760                              16
764                               0
767                               0

     Body mass index (weight in kg/(height in m)^2)  \
3                                              28.1
6                                              31.0
7                                              35.3
20                                             39.3
23                                             29.0
..                                              ...
753                                            43.3
758                                            37.5
760                                            28.4
764                                            36.8
767                                            30.4

     Diabetes pedigree function  Age (years)  Class variable
3                         0.167           21               0
6                         0.248           26               1
7                         0.134           29               0
20                        0.704           27               0
23                        0.263           29               1
..                          ...          ...             ...
753                       0.222           26               1
758                       0.197           26               0
760                       0.766           22               0
764                       0.340           27               0
767                       0.315           23               0

[396 rows x 9 columns]

In [106]:
fascia_30_40 = diabete[(diabete['Age (years)'] < 30) & (diabete['Age (years)']<=40)]
print (fascia_30_40)

     Number of times pregnant  \
3                           1
6                           3
7                          10
20                          3
23                          9
..                        ...
753                         0
758                         1
760                         2
764                         2
767                         1

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
3                                                   89
6                                                   78
7                                                  115
20                                                 126
23                                                 119
..                                                 ...
753                                                181
758                                                106
760                                                 88
764                                                122
767                                                 93

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
3                                  66                                23
6                                  50                                32
7                                   0                                 0
20                                 88                                41
23                                 80                                35
..                                ...                               ...
753                                88                                44
758                                76                                 0
760                                58                                26
764                                70                                27
767                                70                                31

     2-Hour serum insulin (mu U/ml)  \
3                                94
6                                88
7                                 0
20                              235
23                                0
..                              ...
753                             510
758                               0
760                              16
764                               0
767                               0

     Body mass index (weight in kg/(height in m)^2)  \
3                                              28.1
6                                              31.0
7                                              35.3
20                                             39.3
23                                             29.0
..                                              ...
753                                            43.3
758                                            37.5
760                                            28.4
764                                            36.8
767                                            30.4

     Diabetes pedigree function  Age (years)  Class variable
3                         0.167           21               0
6                         0.248           26               1
7                         0.134           29               0
20                        0.704           27               0
23                        0.263           29               1
..                          ...          ...             ...
753                       0.222           26               1
758                       0.197           26               0
760                       0.766           22               0
764                       0.340           27               0
767                       0.315           23               0

[396 rows x 9 columns]

In [118]:
fascia_40_50 = diabete[(diabete['Age (years)'] < 40) & (diabete['Age (years)']<=50)]
print (fascia_40_50)

     Number of times pregnant  \
1                           1
2                           8
3                           1
4                           0
5                           5
..                        ...
760                         2
762                         9
764                         2
765                         5
767                         1

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
1                                                   85
2                                                  183
3                                                   89
4                                                  137
5                                                  116
..                                                 ...
760                                                 88
762                                                 89
764                                                122
765                                                121
767                                                 93

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
1                                  66                                29
2                                  64                                 0
3                                  66                                23
4                                  40                                35
5                                  74                                 0
..                                ...                               ...
760                                58                                26
762                                62                                 0
764                                70                                27
765                                72                                23
767                                70                                31

     2-Hour serum insulin (mu U/ml)  \
1                                 0
2                                 0
3                                94
4                               168
5                                 0
..                              ...
760                              16
762                               0
764                               0
765                             112
767                               0

     Body mass index (weight in kg/(height in m)^2)  \
1                                              26.6
2                                              23.3
3                                              28.1
4                                              43.1
5                                              25.6
..                                              ...
760                                            28.4
762                                            22.5
764                                            36.8
765                                            26.2
767                                            30.4

     Diabetes pedigree function  Age (years)  Class variable
1                         0.351           31               0
2                         0.672           32               1
3                         0.167           21               0
4                         2.288           33               1
5                         0.201           30               0
..                          ...          ...             ...
760                       0.766           22               0
762                       0.142           33               0
764                       0.340           27               0
765                       0.245           30               0
767                       0.315           23               0

[561 rows x 9 columns]

In [114]:
fascia_maggiore50 = diabete[diabete['Age (years)'] >50]
print (fascia_maggiore50)

     Number of times pregnant  \
8                           2
9                           8
12                         10
13                          1
14                          5
..                        ...
719                         5
734                         2
757                         0
759                         6
763                        10

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
8                                                  197
9                                                  125
12                                                 139
13                                                 189
14                                                 166
..                                                 ...
719                                                 97
734                                                105
757                                                123
759                                                190
763                                                101

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
8                                  70                                45
9                                  96                                 0
12                                 80                                 0
13                                 60                                23
14                                 72                                19
..                                ...                               ...
719                                76                                27
734                                75                                 0
757                                72                                 0
759                                92                                 0
763                                76                                48

     2-Hour serum insulin (mu U/ml)  \
8                               543
9                                 0
12                                0
13                              846
14                              175
..                              ...
719                               0
734                               0
757                               0
759                               0
763                             180

     Body mass index (weight in kg/(height in m)^2)  \
8                                              30.5
9                                               0.0
12                                             27.1
13                                             30.1
14                                             25.8
..                                              ...
719                                            35.6
734                                            23.3
757                                            36.3
759                                            35.5
763                                            32.9

     Diabetes pedigree function  Age (years)  Class variable
8                         0.158           53               1
9                         0.232           54               1
12                        1.441           57               0
13                        0.398           59               1
14                        0.587           51               1
..                          ...          ...             ...
719                       0.378           52               1
734                       0.560           53               0
757                       0.258           52               1
759                       0.278           66               1
763                       0.171           63               0

[81 rows x 9 columns]

In [136]:
#Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
pressione = diabete['Diastolic blood pressure (mm Hg)'].mean()
print (pressione)

69.10546875

In [189]:
#Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
pressione_1 = round(fascia_minore20['Diastolic blood pressure (mm Hg)'].mean(),2)
pressione_2 = round(fascia_20_30['Diastolic blood pressure (mm Hg)'].mean(),2)
pressione_3 = round(fascia_30_40['Diastolic blood pressure (mm Hg)'].mean(),2)
pressione_4 = round(fascia_40_50['Diastolic blood pressure (mm Hg)'].mean(),2)
pressione_5 = round(fascia_maggiore50['Diastolic blood pressure (mm Hg)'].mean(),2)
print (pressione_1)
print (pressione_2)
print (pressione_3)
print (pressione_4)
print (pressione_5)

nan
nan
65.35
66.62
78.38

In [213]:
#Qual è la media della pressione per ogni singolo anno di età? BOH
anni_nascita_unici = diabete['Age (years)'].unique()
print(round(anni_nascita_unici['Diastolic blood pressure (mm Hg)'].mean(),2))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
#Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono,
#rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
#E rispetto a smoker? E a sex?
#Quali sono i descrittori statistici di bmi?
#Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [9]:
import pandas as pd
file_path = "/Users/matte/Desktop/Data analyst corso/PYTHON/beginner_datasets/insurance.csv"
insurance = pd.read_csv(file_path)

In [217]:
insurance.shape

(1338, 7)

In [219]:
insurance.sample (5)

      age     sex     bmi  children smoker     region      charges
1220   30  female  21.945         1     no  northeast   4718.20355
229    47    male  25.460         2     no  northeast   9225.25640
34     28    male  36.400         1    yes  southwest  51194.55914
96     54  female  30.800         3     no  southwest  12105.32000
1144   50    male  32.300         2     no  southwest   9630.39700

In [221]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [19]:
#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
media_per_northeast = round(insurance[insurance['region'] == 'northeast']['charges'].mean(),2)
media_per_northwest = round(insurance[insurance['region'] == 'northwest']['charges'].mean(),2)
media_per_southeast = round(insurance[insurance['region'] == 'southeast']['charges'].mean(),2)
media_per_southwest = round(insurance[insurance['region'] == 'southwest']['charges'].mean(),2)
print ("la media per il northeast è di:", media_per_northeast)
print ("la media per il northwest è di:",media_per_northwest)
print ("la media per il southeast è di:",media_per_southeast)
print ("la media per il southwest è di:",media_per_southwest)
print ("non ci sono differenze significative")

la media per il northeast è di: 13406.38
la media per il northwest è di: 12417.58
la media per il southeast è di: 14735.41
la media per il southwest è di: 12346.94
non ci sono differenze significative

In [21]:
#E rispetto a smoker? E a sex?
media_per_smoker = round(insurance[insurance['smoker'] == 'yes']['charges'].mean(),2)
media_per_non_smoker = round(insurance[insurance['smoker'] == 'no']['charges'].mean(),2)
media_per_female = round(insurance[insurance['sex'] == 'female']['charges'].mean(),2)
media_per_male = round(insurance[insurance['sex'] == 'male']['charges'].mean(),2)
print ("la media per i fumatori è di:", media_per_smoker)
print ("la media per i non fumatori è di:", media_per_non_smoker)
print ("la media per le femmine è di:", media_per_female)
print ("la media per i maschi è di:", media_per_male)

la media per i fumatori è di: 32050.23
la media per i non fumatori è di: 8434.27
la media per le femmine è di: 12569.58
la media per i maschi è di: 13956.75

In [29]:
#Quali sono i descrittori statistici di bmi?
insurance['bmi'].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [35]:
#Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
bmi_quartiles = insurance['bmi'].describe(percentiles=[0.25, 0.5, 0.75])
print("Quartili di bmi:")
print(bmi_quartiles)

Quartili di bmi:
count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [ ]:
#Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari.
#Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
#È verosimile che la prima colonna dovrebbe essere un indice?
#Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
#Se no, settare la prima colonna come indice.
#Quali sono i Pokémon leggendari?
#E quali sono i leggendari di tipo 1 Grass?
#E leggendari di tipo 1 Ice o Fire?
#Ordiniamo il dataset per la colonna Name;
#Trasformiamo Name nell'indice;
# Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

In [2]:
import pandas as pd
percorso_file = "/Users/matte/Desktop/Data analyst corso/PYTHON/beginner_datasets/pokemon.csv"
pokemon = pd.read_csv(percorso_file)

In [113]:
pokemon.shape

(800, 13)

In [10]:
pokemon.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
pokemon.sample(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
470,423,Gastrodon,Water,Ground,475,111,83,68,92,82,39,4,False
303,280,Ralts,Psychic,Fairy,198,28,25,25,45,35,40,3,False
267,248,Tyranitar,Rock,Dark,600,100,134,110,95,100,61,2,False
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
340,311,Plusle,Electric,NaN,405,60,50,40,85,75,95,3,False

In [109]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [38]:
#È verosimile che la prima colonna dovrebbe essere un indice?
#Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
#Se no, settare la prima colonna come indice.
print (pokemon['#'])
print ("le colonne non coincidono")

0        1
1        2
2        3
3        3
4        4
      ...
795    719
796    719
797    720
798    720
799    721
Name: #, Length: 800, dtype: int64
le colonne non coincidono

In [57]:
#Se no, settare la prima colonna come indice.
pokemon_reset = pokemon.reset_index()

# Rinominare la colonna dell'indice se necessario
pokemon_reset.rename(columns={'index': 'ID'}, inplace=True)

# Stampa delle colonne del DataFrame
print("Colonne del DataFrame:\n", pokemon_reset.columns)

Colonne del DataFrame:
 Index(['ID', '#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [91]:
#Quali sono i Pokémon leggendari?
leggendari = pokemon[pokemon['Legendary'] == True]['Name']
print (leggendari)

156               Articuno
157                 Zapdos
158                Moltres
162                 Mewtwo
163    MewtwoMega Mewtwo X
              ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 65, dtype: object

In [69]:
pokemon_reset[pokemon_reset['Type 1'] == 'Grass'].count ()

ID            70
#             70
Name          70
Type 1        70
Type 2        37
Total         70
HP            70
Attack        70
Defense       70
Sp. Atk       70
Sp. Def       70
Speed         70
Generation    70
Legendary     70
dtype: int64

In [77]:
#E quali sono i leggendari di tipo 1 Grass?
leggendari_grass = pokemon_reset[(pokemon_reset['Type 1'] == 'Grass') & (pokemon_reset['Legendary'] == True)]['Name']
print (nome_grass)

['Bulbasaur' 'Ivysaur' 'Venusaur' 'VenusaurMega Venusaur' 'Oddish' 'Gloom'
 'Vileplume' 'Bellsprout' 'Weepinbell' 'Victreebel' 'Exeggcute'
 'Exeggutor' 'Tangela' 'Chikorita' 'Bayleef' 'Meganium' 'Bellossom'
 'Hoppip' 'Skiploom' 'Jumpluff' 'Sunkern' 'Sunflora' 'Treecko' 'Grovyle'
 'Sceptile' 'SceptileMega Sceptile' 'Seedot' 'Nuzleaf' 'Shiftry'
 'Shroomish' 'Breloom' 'Roselia' 'Cacnea' 'Cacturne' 'Tropius' 'Turtwig'
 'Grotle' 'Torterra' 'Budew' 'Roserade' 'Cherubi' 'Cherrim' 'Carnivine'
 'Snover' 'Abomasnow' 'AbomasnowMega Abomasnow' 'Tangrowth' 'Leafeon'
 'ShayminLand Forme' 'ShayminSky Forme' 'Snivy' 'Servine' 'Serperior'
 'Pansage' 'Simisage' 'Cottonee' 'Whimsicott' 'Petilil' 'Lilligant'
 'Maractus' 'Foongus' 'Amoonguss' 'Ferroseed' 'Ferrothorn' 'Virizion'
 'Chespin' 'Quilladin' 'Chesnaught' 'Skiddo' 'Gogoat']

In [83]:
#E leggendari di tipo 1 Ice o Fire?
leggendari_o = pokemon_reset[(pokemon_reset['Type 1'] == 'Ice') & (pokemon_reset['Legendary'] == True) |
                             (pokemon_reset['Type 1'] == 'Grass') & (pokemon_reset['Legendary'] == True)]['Name']
print (leggendari_o)

156             Articuno
415               Regice
550    ShayminLand Forme
551     ShayminSky Forme
701             Virizion
Name: Name, dtype: object

In [93]:
#Ordiniamo il dataset per la colonna Name;
pokemon_ordinato = pokemon.sort_values(by = 'Name')

In [ ]:
#Trasformiamo Name nell'indice;
pokemon_Name = pokemon.set_index('Name')

In [103]:
# Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
pokemon_speciali = (pokemon['Generation'] == '1') & (pokemon['Attack'] > 50) & (pokemon['Attack']< 60)
pokemon_true = pokemon[pokemon_speciali]
print (pokemon_true)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []