In [6]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\matte\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\matte\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\matte\anaconda3\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\matte\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install python_dotenv

Requirement already satisfied: python_dotenv in c:\users\matte\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo quanto segue:
#Quanti dati ci sono in totale?
#Quali sono i metadati?
#Stampiamo il primo elemento
#Stampiamo l'ultimo elemento
#Riusciamo a stampare cinque elementi a caso?
#Quali sono i colori disponibili?
#In media quanto pesano i prodotti?
#Quanto pesa il più leggero?
#Quanto pesa il più pesante?
#Quanti prodotti pesano più di 100 Kg?
#Quanto costano in media i prodotti (colonna DealerPrice)?
#Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, quale sarà il loro range di prezzo?
#Qual è il prezzo medio per i prodotti di colore blu?
#Qual è il prezzo medio per i prodotti di colore rosso o nero?
#Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
#Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
#Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: c'è un pattern? C'è qualche elemento che non lo segue?

In [8]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

username = str(os.getenv("username"))
password = str(os.getenv("password"))
host = str(os.getenv("host"))
dbname = str(os.getenv("dbname"))

dotenv.load_dotenv(override=True)
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"
df = pd.read_sql(sql=query, con=db_engine)

In [14]:
print("il dataframe è grande:\n", df.shape)
print("le colonne si chiamano\n:", df.columns)
print("le prime righe sono:\n", df.head())

il dataframe è grande:
 (606, 36)
le colonne si chiamano
: Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')
le prime righe sono:
    ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0           1             AR-5381                    NaN
1           2             BA-8327                    NaN
2           3             BE-2349                    NaN
3           4             BE-2908                    NaN
4           5             BL-2036                    NaN

  WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                  None                None        Adjustable Race
1                  None                None           Bearing Ball
2                  None                None        BB Ball Bearing
3                  None                None  Headset Ball Bearings
4                  None                None                  Blade

  SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
0                                                NaN                  0  ...
1                                                NaN                  0  ...
2                                                NaN                  0  ...
3                                                NaN                  0  ...
4                                                NaN                  0  ...

  ChineseDescription  ArabicDescription  HebrewDescription  ThaiDescription  \
0               None               None               None             None
1               None               None               None             None
2               None               None               None             None
3               None               None               None             None
4               None               None               None             None

  GermanDescription JapaneseDescription  TurkishDescription  StartDate  \
0              None                None                None 2003-07-01
1              None                None                None 2003-07-01
2              None                None                None 2003-07-01
3              None                None                None 2003-07-01
4              None                None                None 2003-07-01

  EndDate   Status
0     NaT  Current
1     NaT  Current
2     NaT  Current
3     NaT  Current
4     NaT  Current

[5 rows x 36 columns]

In [90]:
print("i colori sono:", df["Color"].unique())

i colori sono: ['NA' 'Black' 'Silver' 'Red' 'White' 'Blue' 'Multi' 'Yellow' 'Grey'
 'Silver/Black']

In [109]:
peso = df['Weight']
peso_medio = peso.mean()
print("il peso medio è di", peso_medio)

il peso medio è di 56.1932269503546

In [125]:
#Quanto pesa il più leggero?
#Quanto pesa il più pesante?
#Quanti prodotti pesano più di 100 Kg?
peso = df['Weight']
min = peso.min ()
max = peso.max()
prodotti_pesanti = peso [peso>100].count()
print (min)
print (max)
print (prodotti_pesanti)

2.12
1050.0
28

In [11]:
#Quanto costano in media i prodotti (colonna DealerPrice)?
costo = df['DealerPrice']
costo_medio = round(costo.mean(),2)
print("il costo medio è di", costo_medio)

il costo medio è di 448.6

In [42]:
#Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, quale sarà il loro range di prezzo? BOH hahahahha
#Qual è il prezzo medio per i prodotti di colore blu?
#Qual è il prezzo medio per i prodotti di colore rosso o nero?
#Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg? ????
blu = df[df['Color'] == 'Blue']
rosso_nero = df[df['Color'].isin(['Red', 'Black'])]
filtro_peso_taglia = (df['Size'] == 42) | (df['Weight'] > 10)
prezzo_max_tg_peso = round(df[filtro_peso_taglia]['DealerPrice'].max(), 2)
prezzo_medio_blu = round(blu ['DealerPrice'].mean(),2)
prezzo_medio_rosso_nero = round(rosso_nero ['DealerPrice'].mean(),2)
print (prezzo_medio_blu)
print (prezzo_medio_rosso_nero)
print (prezzo_max_tg_peso)

516.06
550.25
2146.96

In [64]:
#Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
taglia = df['Size'] == 42
peso = df['Weight'] > 10
colore = df['Color'] == 'Silver'
nome = taglia & peso & colore
nome_inglese = df[nome][['EnglishProductName','StandardCost']]
print (nome_inglese)

Empty DataFrame
Columns: [EnglishProductName, StandardCost]
Index: []

In [ ]:
#Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: c'è un pattern? C'è qualche elemento che non lo segue?

In [78]:
import pandas as pd

In [28]:
#Tra i beginner datasets scaricabili all'indirizzo https://www.kaggle.com/datasets/ahmettezcantekin/beginner-datasets selezioniamo amazon.csv, 
#un dataset contenente una serie di recensioni su Amazon.
#Valutiamo la dimensione del dataset
#Visualizziamo dieci righe a caso;
#Osserviamo quali sono i nomi di colonna;
#Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [38]:
file_path = "/Users/matte/Desktop/Data analyst corso/PYTHON/beginner_datasets/amazon.csv"
amazon = pd.read_csv(file_path)

In [40]:
amazon.shape

(20000, 2)

In [42]:
amazon.sample (10)

                                              reviewText  Positive
2073   This app works great!  I use it to entertain m...         1
12398  This is the only alarm I use anymore. It has s...         1
7442   I have a king James Bible,  But this is a lot ...         1
3904   I love how this clock has big numbers so it's ...         1
13744  I love cats and figured I would get this.and I...         1
5914   Important app for you to work with the kindle ...         1
6062   I am using it for a journal of sorts for the y...         1
15867  This is a 5 star rating for sure. I had not fo...         1
4124   This is the cutest app!!! I tried the free app...         1
14379  I have this in Kindle and also on my android p...         1

In [46]:
amazon.columns

Index(['reviewText', 'Positive'], dtype='object')

In [56]:
recensioni = amazon ['Positive'].value_counts()
recensioni

Positive
1    15233
0     4767
Name: count, dtype: int64

In [ ]:
#Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti.
#Osserviamone le dimensioni e un'anteprima di cinque righe;
#Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne;
#Stampiamo dei descrittori statistici del dataset;
#Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50;
#Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
#Qual è la media della pressione per ogni singolo anno di età?

In [ ]:
#Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono,
#rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
#E rispetto a smoker? E a sex?
#Quali sono i descrittori statistici di bmi?
#Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [ ]:
#Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari.
#Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
#È verosimile che la prima colonna dovrebbe essere un indice?
#Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
#Se no, settare la prima colonna come indice.
#Quali sono i Pokémon leggendari?
#E quali sono i leggendari di tipo 1 Grass?
#E leggendari di tipo 1 Ice o Fire?
#Ordiniamo il dataset per la colonna Name;
#Trasformiamo Name nell'indice;
# Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?