In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\matte\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\matte\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\matte\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\matte\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\matte\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\matte\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [ ]:
#Andiamo su http://www.datiopen.it/it/opendata/Mappa_dei_pub_circoli_locali_in_Italia e scarichiamo il file (in formato JSON)
#della mappa dei pub, circoli e locali in Italia Nota:
#per leggerlo nella funzione open() dovremo aggiungere il parametro encoding="latin1",
#ad esempio: f = open(file_path, "r", encoding="latin1")
#dove file_path è chiaramente la posizione del file nel nostro calcolatore.
#Esaminiamo il dataset:
#quanti dati ci sono in totale?
#quali sono i metadati?
#stampiamo il primo elemento
#stampiamo l'ultimo elemento
#riusciamo a stampare un elemento a caso?
#quali sono gli anni di inserimento presenti?
#quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
#quante attività ci sono nella provincia di Vicenza?
#ante enoteche ci sono, e come si chiamano?
#quante attività ci sono in Lazio e Abruzzo assieme?

In [13]:
pub = pd.read_json(r'C:\Users\matte\Desktop\Data analyst corso\PYTHON\Mappa_pub_ita.json', encoding='latin1')
print(pub)

             ccomune             cprovincia  cregione            cnome  \
0              ALTRO                  ALTRO     ALTRO
1              ALTRO                  ALTRO     ALTRO      Lenny's Pub
2              ALTRO                  ALTRO     ALTRO  Murrayfield Pub
3              ALTRO                  ALTRO     ALTRO           Snop?e
4       Ala di Stura                 TORINO  Piemonte
...              ...                    ...       ...              ...
2492   Barletta (BT)  BARLETTA ANDRIA TRANI    Puglia      Santa Croce
2493  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia      Auld Dublin
2494  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia            Ferus
2495      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia          Re Artù
2496      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia     Well's Fargo

      canno_inserimento cdata_e_ora_inserimento  \
0                  2011    2011-06-25T23:17:43Z
1                  2011    2011-07-29T17:22:56Z
2                  2015    2015-10-24T09:28:06Z
3                  2010    2010-09-22T08:32:52Z
4                  2012    2012-05-21T14:28:45Z
...                 ...                     ...
2492               2010    2010-01-17T16:15:08Z
2493               2014    2014-03-03T20:56:16Z
2494               2014    2014-01-07T19:22:18Z
2495               2009    2009-09-04T07:57:05Z
2496               2009    2009-08-10T12:44:03Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
0                           1339088150     13.733257    45.575830
1                           1375887295     12.418681    46.747584
2                           3323888102      9.029585    45.831340
3                            921157802     13.640939    45.954607
4                           1760949034      7.307306    45.313150
...                                ...           ...          ...
2492                         615632993     16.285782    41.320671
2493                        2613737619     16.497204    41.241814
2494                        2613737620     16.506175    41.240957
2495                         482836935     16.418124    41.281518
2496                         387223648     16.436765    41.267264

[2497 rows x 9 columns]

In [17]:
pub.sample(5)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
2327,Casarsa della Delizia,PORDENONE,Friuli-Venezia Giulia,Real Cerveceria,2013,2013-03-16T13:00:37Z,987707322,12.835193,45.958099
1215,Padova,PADOVA,Veneto,Joyce's,2011,2011-10-10T07:42:59Z,1459133994,11.867749,45.405517
502,Milano,MILANO,Lombardia,Harp Pub,2014,2014-01-10T21:48:40Z,1679695858,9.225522,45.477255
2329,Fanna,PORDENONE,Friuli-Venezia Giulia,Friends,2010,2010-06-02T20:35:39Z,762701085,12.754235,46.187325
1836,Roma,ROMA,Lazio,ABC,2012,2012-06-01T15:53:42Z,1772764791,12.518685,41.962276

In [21]:
pub.shape

(2497, 9)

In [133]:
#quali sono i metadati?
#stampiamo il primo elemento
#stampiamo l'ultimo elemento
#riusciamo a stampare un elemento a caso?
#quali sono gli anni di inserimento presenti?
#quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
#quante attività ci sono nella provincia di Vicenza?
#quante enoteche ci sono, e come si chiamano?
#quante attività ci sono in Lazio e Abruzzo assieme?
print("Info:\n", pub.info())
print("nomi delle colonne:\n", pub.columns)
print("tipi di dati:\n", pub.dtypes)
print("descrizione statistica:\n", pub.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2497 entries, 0 to 2496
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ccomune                           2497 non-null   object
 1   cprovincia                        2497 non-null   object
 2   cregione                          2497 non-null   object
 3   cnome                             2497 non-null   object
 4   canno_inserimento                 2497 non-null   int64
 5   cdata_e_ora_inserimento           2497 non-null   object
 6   cidentificatore_in_openstreetmap  2497 non-null   int64
 7   clongitudine                      2497 non-null   float64
 8   clatitudine                       2497 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 175.7+ KB
Info:
 None
nomi delle colonne:
 Index(['ccomune', 'cprovincia', 'cregione', 'cnome', 'canno_inserimento',
       'cdata_e_ora_inserimento', 'cidentificatore_in_openstreetmap',
       'clongitudine', 'clatitudine'],
      dtype='object')
tipi di dati:
 ccomune                              object
cprovincia                           object
cregione                             object
cnome                                object
canno_inserimento                     int64
cdata_e_ora_inserimento              object
cidentificatore_in_openstreetmap      int64
clongitudine                        float64
clatitudine                         float64
dtype: object
descrizione statistica:
        canno_inserimento  cidentificatore_in_openstreetmap  clongitudine  \
count        2497.000000                      2.497000e+03   2497.000000
mean         2012.816179                      1.847805e+09     11.412889
std             1.915547                      1.057789e+09      2.381334
min          2007.000000                      3.203094e+07      6.708958
25%          2012.000000                      9.195678e+08      9.214541
50%          2013.000000                      1.769765e+09     11.301761
75%          2014.000000                      2.616963e+09     12.682012
max          2016.000000                      4.012443e+09     18.444577

       clatitudine
count  2497.000000
mean     44.106531
std       2.108361
min      36.680786
25%      42.885316
50%      45.049664
75%      45.617151
max      46.983781

In [39]:
#stampiamo il primo elemento
#stampiamo l'ultimo elemento
#riusciamo a stampare un elemento a caso?
print ("il primo elemento è: \n", pub.head(1))
print ("l'ultimo elemento è: \n",pub.tail(1))
print ("un elemento casuale è: \n",pub.sample(1))

il primo elemento è:
   ccomune cprovincia cregione cnome  canno_inserimento  \
0   ALTRO      ALTRO    ALTRO                     2011

  cdata_e_ora_inserimento  cidentificatore_in_openstreetmap  clongitudine  \
0    2011-06-25T23:17:43Z                        1339088150     13.733257

   clatitudine
0     45.57583
l'ultimo elemento è:
          ccomune             cprovincia cregione         cnome  \
2496  Trani (BT)  BARLETTA ANDRIA TRANI   Puglia  Well's Fargo

      canno_inserimento cdata_e_ora_inserimento  \
2496               2009    2009-08-10T12:44:03Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
2496                         387223648     16.436765    41.267264
un elemento casuale è:
                ccomune cprovincia             cregione               cnome  \
864  Pergine Valsugana     TRENTO  Trentino-Alto Adige  La Vecchia Pergine

     canno_inserimento cdata_e_ora_inserimento  \
864               2016    2016-01-17T10:20:47Z

     cidentificatore_in_openstreetmap  clongitudine  clatitudine
864                         293870954      11.24005    46.058407

In [53]:
#quali sono gli anni di inserimento presenti?
anno = pub['canno_inserimento'].unique()
print (anno)

[2011 2015 2010 2012 2014 2016 2013 2008 2009 2007]

In [79]:
#quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
quadrato = (pub['clongitudine']> 9) & (pub['clongitudine']< 10) & (pub['clatitudine']> 45) & (pub['clatitudine']< 46)
attività = len(pub[quadrato])
print (attività)

303

In [77]:
#quante attività ci sono nella provincia di Vicenza?
vicenza = len(pub[pub['cprovincia'] == 'VICENZA'])
print (vicenza)

73

In [131]:
#quanti locali contengono bar nel nome, e come si chiamano?
nome = pub[pub['cnome'].str.contains('bar', case=False)]['cnome']
print ("il numero totale di attività contenenti bar nel nome é: \n", nome.count(), "\n di seguito la lista.")
print (nome)

il numero totale di attività contenenti bar nel nome é:
 194
 di seguito la lista.
46                      Ambharabar
70                       Lo Sbarco
89      Bar da Mario la Tavernetta
92                          Bar OK
94                         Bar Bon
                   ...
2425         Bar Pizzeria da Peppe
2426                   Central Bar
2427                  Bar Sa Giara
2429                     Blues Bar
2474                   bar moderno
Name: cnome, Length: 194, dtype: object

In [135]:
#quante attività ci sono in Lazio e Abruzzo assieme?
boolena = (pub['cregione'] == 'Lazio') & (pub['cregione'] == 'Abruzzo')
numero_lazioeabruzzo = len(pub[boolena])
print (numero_lazioeabruzzo)

0